In [41]:
import pandas as pd
import numpy as np

In [42]:
dataset=pd.read_excel("attritionrateanalysis.xlsx", sheet_name=0)

In [43]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,29,No,Non-Travel,Research & Development,10,4,Technical Degree,1,4308,Male,...,1.0,Y,11,8,1,10.0,6,10,0,9
4308,51,No,Travel_Rarely,Research & Development,1,3,Other,1,4309,Female,...,2.0,Y,15,8,1,10.0,4,1,0,0
4309,58,No,Travel_Rarely,Sales,3,3,Marketing,1,4310,Female,...,4.0,Y,11,8,3,9.0,4,1,0,0
4310,40,No,Travel_Rarely,Research & Development,11,2,Technical Degree,1,4311,Male,...,7.0,Y,18,8,0,15.0,4,12,2,11
4311,34,No,Travel_Frequently,Sales,24,4,Marketing,1,4312,Male,...,6.0,Y,16,8,0,6.0,1,4,1,2

# Correlation btw attrition and Age

In [44]:
from scipy.stats import pearsonr #---func name for correlation---
def tran_attrition(x):
    if(x=='Yes'):
        return 1
    else:
        return 0
    
dataset['Attrition'].replace(['Yes', 'No'], [1, 0], inplace = True)
stats,p=pearsonr(dataset.Attrition,dataset.Age)
print(stats,p)

-0.15577991343978742 7.87282044592751e-25

# Correlation btw attrition and DistancefromHome

In [45]:
stats,p=pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print(stats,p)

-0.008192726157877701 0.5906908724037649

# Correlation btw attrition and Education

In [46]:

stats,p=pearsonr(dataset.Attrition,dataset.Education )
print(stats,p)

-0.015051199198423175 0.3230944871338124

# Correlation btw attrition and EmployeeCount

In [47]:

stats,p=pearsonr(dataset.Attrition,dataset.EmployeeCount)
print(stats,p)

nan nan

C:\Users\Sinela Anwar\anaconda3\lib\site-packages\scipy\stats\stats.py:3508: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

# Correlation btw attrition and EmployeeID

In [48]:

stats,p=pearsonr(dataset.Attrition,dataset.EmployeeID)
print(stats,p)

-0.0040755011453890684 0.7890498428188744

# Correlation btw attrition and PercentSalaryHike

In [49]:

stats,p=pearsonr(dataset.Attrition,dataset.PercentSalaryHike)
print(stats,p)

0.03191946212934065 0.03608715754135447

# Correlation btw attrition and StandardHours

In [50]:

stats,p=pearsonr(dataset.Attrition,dataset.StandardHours)
print(stats,p)

nan nan

# Correlation btw attrition and StockOptionLevel

In [51]:

stats,p=pearsonr(dataset.Attrition,dataset.StockOptionLevel)
print(stats,p)

-0.0029290427582777763 0.8475208122000529

# Correlation btw attrition and TrainingTimesLastYear

In [52]:

stats,p=pearsonr(dataset.Attrition,dataset.TrainingTimesLastYear)
print(stats,p)

-0.04781715670455629 0.0016846456979370502

In [53]:
# Correlation btw attrition and YearsAtCompany

In [54]:

stats,p=pearsonr(dataset.Attrition,dataset. YearsAtCompany )
print(stats,p)

-0.13321482630970044 1.5733973257042087e-18

# Correlation btw attrition and YearsSinceLastPromotion

In [55]:

stats,p=pearsonr(dataset.Attrition,dataset. YearsSinceLastPromotion )
print(stats,p)

-0.02965790050058643 0.051489903274496256

# Correlation btw attrition and YearsWithCurrManager

In [56]:

stats,p=pearsonr(dataset.Attrition,dataset. YearsWithCurrManager)
print(stats,p)

-0.15579390380214184 7.796702217878522e-25